@import 'https://js.arcgis.com/4.10/esri/css/main.css';

.dropdown {
	right: 15px;
  top: 15px;
  position: absolute;
  z-index: 1;
}

.dropbtn {
  background-color: #f9f9f9;
  color: gray;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e7e7e7;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.esri-view {
  height: 100%;
}